[submodule "vlo-boards-api"]
	path = vlo-boards-api
	url = git@github.com:gkju/vlo-boards-api
	branch = master
[submodule "VLO-ACCOUNTS"]
	path = VLO-ACCOUNTS
	url = git@github.com:gkju/vlo-accounts
	branch = main
[submodule "AccountsData"]
	path = AccountsData
	url = git@github.com:gkju/AccountsData
	branch = master
[submodule "suvlo-main"]
	path = suvlo-main
	url = git@github.com:gkju/suvlo-main
[submodule "vlo-ui"]
	path = vlo-ui
	url = git@github.com:gkju/vlo-ui
[submodule "vlo-accounts-client"]
	path = vlo-accounts-client
	url = git@github.com:gkju/vlo-accounts-client-axios-ts
[submodule "vlo-main-frontend"]
	path = vlo-main-frontend
	url = git@github.com:gkju/vlo-main-frontend.git
